Repository gagle/orange: changes, and which lint-staged commands are due for each by the changed paths.
All: js-beautify -r, stylelint --syntax scss --fix, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "apps/**/*.html": [
    "js-beautify -r"
  ],
  "apps/**/*.scss": [
    "stylelint --syntax scss --fix",
    "prettier --write"
  ],
  "apps/**/*.ts": [
    "eslint --fix"
  ],
  "libs/**/*.ts": [
    "eslint --fix"
  ]
}

test pipeline
  apps/api/src/app/app.controller.spec.ts
Due: eslint --fix

add missing scripts
  package.json
Due: none

fix tests
  apps/api/src/app/app.controller.spec.ts
  apps/api/src/app/app.service.spec.ts
  apps/api/src/app/app.service.ts
Due: eslint --fix

remove action
  .github/workflows/pull-request.yml
Due: none

add docker for api
  README.md
  apps/api/Dockerfile
  apps/api/project.json
  docker-compose.yml
  package.json
Due: none

fix pr workflow
  .github/workflows/pull-request.yml
Due: none

remove patch-package dep
  package-lock.json
  package.json
Due: none

config jest
  jest.preset.js
Due: none

add table
  apps/api/src/app/posts/posts.controller.ts
  apps/api/src/app/posts/services/posts.service.ts
  apps/web/.eslintrc.json
  apps/web/project.json
  apps/web/src/app/api/services/post/post.service.ts
  apps/web/src/app/app-routing.module.ts
  apps/web/src/app/app.component.html
  apps/web/src/app/app.component.ts
  apps/web/src/app/app.module.ts
  apps/web/src/app/features/overview/components/posts-table/posts-table.component.html
  apps/web/src/app/features/overview/components/posts-table/posts-table.component.spec.ts
  apps/web/src/app/features/overview/components/posts-table/posts-table.component.ts
  apps/web/src/app/features/overview/components/posts-table/posts-table.module.ts
  apps/web/src/app/features/overview/enums/posts-table-columns.enum.ts
  apps/web/src/app/features/overview/overview-routing.module.ts
  apps/web/src/app/features/overview/overview.component.html
  apps/web/src/app/features/overview/overview.component.spec.ts
  apps/web/src/app/features/overview/overview.component.ts
  apps/web/src/app/features/overview/overview.module.ts
  apps/web/src/app/features/overview/store/overview.store.service.spec.ts
  apps/web/src/app/features/overview/store/overview.store.service.ts
  apps/web/src/assets/scss/components/_index.scss
  apps/web/src/assets/scss/components/_links.scss
  apps/web/src/assets/scss/grid/_grid.scss
  apps/web/src/assets/scss/grid/_index.scss
  apps/web/src/assets/scss/main.scss
  apps/web/src/index.html
  package-lock.json
  package.json
Due: js-beautify -r, stylelint --syntax scss --fix, prettier --write, eslint --fix

test overview page
  apps/web/jest.config.js
  apps/web/src/app/api/services/index.ts
  apps/web/src/app/api/services/posts/index.ts
  apps/web/src/app/api/services/posts/posts.service.spec.ts
  apps/web/src/app/api/services/posts/posts.service.ts
  apps/web/src/app/app.component.spec.ts
  apps/web/src/app/features/overview/components/posts-table/posts-table.component.spec.ts
  apps/web/src/app/features/overview/overview.component.spec.ts
  apps/web/src/app/features/overview/store/overview.store.service.spec.ts
  apps/web/src/app/features/overview/store/overview.store.service.ts
  apps/web/src/setup-jest.ts
  apps/web/src/test-setup.ts
  apps/web/tsconfig.spec.json
  package-lock.json
  package.json
Due: eslint --fix

fix tests
  apps/api/src/app/posts/posts.controller.spec.ts
  apps/api/src/app/posts/services/posts.service.spec.ts
Due: eslint --fix

add edit
  apps/api/README.md
  apps/web/src/app/api/services/posts/posts.service.spec.ts
  apps/web/src/app/api/services/posts/posts.service.ts
  apps/web/src/app/app-routing.module.ts
  apps/web/src/app/app.component.spec.ts
  apps/web/src/app/features/edit/edit-routing.module.ts
  apps/web/src/app/features/edit/edit.component.html
  apps/web/src/app/features/edit/edit.component.scss
  apps/web/src/app/features/edit/edit.component.spec.ts
  apps/web/src/app/features/edit/edit.component.ts
  apps/web/src/app/features/edit/edit.module.ts
  apps/web/src/app/features/overview/overview.component.spec.ts
  libs/api-interfaces/.babelrc
Due: js-beautify -r, stylelint --syntax scss --fix, prettier --write, eslint --fix

add create
  apps/web/README.md
  apps/web/src/app/app-routing.module.ts
  apps/web/src/app/features/create/create-routing.module.ts
  apps/web/src/app/features/create/create.component.html
  apps/web/src/app/features/create/create.component.scss
  apps/web/src/app/features/create/create.component.spec.ts
  apps/web/src/app/features/create/create.component.ts
  apps/web/src/app/features/create/create.module.ts
  apps/web/src/app/features/overview/overview.component.html
  apps/web/src/app/features/overview/overview.component.scss
  apps/web/src/app/features/overview/overview.component.ts
Due: js-beautify -r, stylelint --syntax scss --fix, prettier --write, eslint --fix

finish
  apps/web/src/app/app-routing.module.ts
  apps/web/src/app/features/details/details-routing.module.ts
  apps/web/src/app/features/details/details.component.html
  apps/web/src/app/features/details/details.component.scss
  apps/web/src/app/features/details/details.component.spec.ts
  apps/web/src/app/features/details/details.component.ts
  apps/web/src/app/features/details/details.module.ts
  apps/web/src/app/features/overview/components/posts-table/posts-table.component.html
  apps/web/src/app/features/overview/components/posts-table/posts-table.component.scss
  apps/web/src/app/features/overview/components/posts-table/posts-table.component.spec.ts
  apps/web/src/app/features/overview/components/posts-table/posts-table.component.ts
  apps/web/src/app/features/overview/enums/posts-table-columns.enum.ts
  apps/web/src/assets/scss/grid/_grid.scss
Due: js-beautify -r, stylelint --syntax scss --fix, prettier --write, eslint --fix
